.odd{
    background-color: lightcoral;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second{
    color: blue;
    font-size: 36px;
}
.extra{
    font-size: 24px;
}
#forth{
    background-color: lightgreen;
    font-weight: bold;
}